.subscible-bg{
    background: rgba(196, 102, 31, 0.10);
   
height: 309px;
}
.sbuscible-from{
    width: 264px;
height: 60px;
color: rgba(140, 117, 106, 0.50);
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.sub-btn{
    width: 153px;
height: 60px;
border: 1px solid #1D2C0A;
background: none;
color: #8C756A;
}
.subscible-Box{
    padding-top: 10%;
}